<%= render 'layouts/common' %>
<h2>Chat rooms</h2>
<% @rooms.each do |room| %>
  <%= link_to room.name, chat_room_path(room) %><br />
<% end %>

<h2>Users</h2>
<% @users.each do |user| %>
  <%= link_to user.email, message_user_path(user) %><br />
<% end %>
